<h1>User Registration</h1>
<form (ngSubmit)="successfulRequest.validateInputFields()">
    <label for="name">Name:</label>
    <mat-form-field>
        <input matInput id="name" required placeholder="Name">
    </mat-form-field><br>

    <mat-label>Email</mat-label>
    <mat-form-field class="example-full-width">
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex: name@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field><br>

    <label for="password">Password:</label>
    <mat-form-field>
        <input matInput type="password" id="password" required placeholder="Password">
    </mat-form-field><br>

    <label for="password">Bio:</label>
    <mat-form-field>
        <input matInput type="bio" id="bio" required>
    </mat-form-field><br>

    <button routerLink="/profile" mat-raised-button type="submit" color="warn">Register</button>
</form>